{% extends 'theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_blog.links %}
        <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
    'page_name': current_blog.name,
    'page_logo_link': '/' ~ current_blog.url,
    'page_author': current_blog.owner.username,
    'page_description': current_blog.description,
    'page_keywords': current_blog.keywords|join(','),
    'page_links': service_page_links,
    'page_google_webdev': current_blog.googleWebDeveloper,
    'page_ga_id': current_blog.googleAnalyticsId,
    'page_logo_url': ''
} %}

{% block title %}{{ current_post.title }} | {{ service.page_name }}{% endblock %}

{% block content %}
    <div class="container">
        <article itemscope="" itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 itemprop="headline" class="mt-4 mb-4 pb-2 border-bottom">{{ current_post.title }}</h1>
                <p class="meta">
                    <time datetime="{{ current_post.publishedAt|date('Y-m-d') }}" itemprop="datePublished">
                        <span class="fa fa-clock-o"></span>
                        {{ 'service_post.posted_on'|trans }}
                        <b>{{ current_post.publishedAt|date('F j, Y') }} {{ 'service_post.at'|trans }} {{ current_post.publishedAt|date('H:i') }}</b>
                    </time>
                    {{ 'service_post.tagged'|trans }} {{ current_post.categories|join(', ') }}
                </p>
            </header>
            <div itemprop="articleBody">
                {{ current_post.content|raw|nl2br }}
            </div>
            <p class="post-tags">
                {% for tag in current_post.tags %}
                    <span class="label label-default">
                        <i class="fa fa-tag"></i> {{ tag.name }}
                    </span>
                {% endfor %}
            </p>
            <section class="mt-4 pt-2 pb-2" style="border-top: 1px solid #e5e5e5;">
                <div class="card bg-light">
                    <div class="card-body">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {{ render(controller('App\\Controller\\DefaultController:commentForm', {'blog': current_blog, 'post': current_post})) }}
                        {% else %}
                            <p class="m-0">
                                <a class="btn btn-success" href="{{ path('login', {'redirect_to': app.request.pathInfo}) }}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'service_post.comment.login'|trans }}
                                </a>
                                {{ 'service_post.comment.publish'|trans }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section id="comments" class="pt-2" style="border-top: 1px solid #e5e5e5;">
                <h2 class="mb-3">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    {{ 'service_post.comment.list_title'|transchoice(current_post.comments|length) }}
                </h2>
                {% for comment in current_post.comments %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <article id="comment-1" class="media row" data-id="73" itemprop="comment" itemscope="" itemtype="http://schema.org/UserComments">
                                <header class="col-sm-3">
                                    <div class="avatar pull-left" style="padding-right: 10px;"><img src="{{ getenv('OAUTH_URL') }}/api/get_img?user_id={{ comment.author.id }}&height=64&width=64"  class="media-object" alt="" width="64" height="64"></div>
                                    <div class="meta media-heading">
                                        <p class="m-0" itemprop="creator" itemscope="" itemtype="http://schema.org/Person"><a href="{{ path('user', {'username': comment.author.username}) }}" rel="author nofollow" itemprop="name"><b>{{ comment.author.username }}</b></a></p>
                                        <p class="m-0">{{ 'commented on'|trans }}</p>
                                        <p class="m-0"><small>
                                                <time datetime="{{ comment.publishedAt|date('Y-m-d H:i') }}" itemprop="commentTime">
                                                    <a href="#comment-1" rel="bookmark" itemprop="url" title=""><b>{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</b></a>
                                                </time>
                                                <span>&nbsp;</span>
                                            </small></p>
                                        <p class="m-0"><small><a href="#comment-text" title="Reply to this comment" class="comment-reply">(reply)</a></small></p>
                                    </div>
                                </header>
                                <div itemprop="commentText" class="media-body col-sm-9">
                                    {{ comment.content }}
                                </div>
                            </article>
                        </div>
                    </div>
                {% else %}
                    <div class="post-comment">
                        <p>{{ 'No comments'|trans }}</p>
                    </div>
                {% endfor %}
            </section>
        </article>
    </div>
{% endblock %}
