{% extends 'theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_blog.links %}
        <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
    'page_name': current_blog.name,
    'page_logo_link': '/' ~ current_blog.url,
    'page_author': current_blog.owner.username,
    'page_description': current_blog.description,
    'page_keywords': current_blog.keywords|join(','),
    'page_links': service_page_links,
    'page_google_webdev': current_blog.googleWebDeveloper,
    'page_ga_id': current_blog.googleAnalyticsId,
    'page_logo_url': ''
} %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/search.js"></script>
{% endblock %}

{% block title %}{{ 'service_search.title'|trans }} | {{ service.page_name }}{% endblock %}

{% block header %}
    <div class="container">
        <h1 class="mt-4 mb-4 pb-2 border-bottom">{{ 'service_search.title'|trans }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Blog Search Content Column -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p><b>{{ 'service_search.search.title'|trans }}</b></p>
                        <form action="{{ path('blog_search', {'blog': current_blog.url}) }}" method="get">
                            <div class="form-group">
                                <input name="q"
                                       class="form-control search-field"
                                       placeholder="{{ 'service_search.search.placeholder'|trans }}"
                                       autocomplete="off"
                                       autofocus
                                       data-no-results-message="{{ 'post.search_no_results'|trans }}" />
                            </div>
                        </form>
                        <hr />
                        <p><b>Categories</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url, 'c': 'news'}) }}">{{ 'News' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                    <li><a href="{{ path('blog_search', {'blog': current_blog.url}) }}">{{ 'Category' }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Article Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                        <div class="text-center">
                            <a href="#"><span class="glyphicon glyphicon-plus"></span> Full Story</a>
                            <a href="#"><span class="glyphicon glyphicon-comment"></span> 12 Comments</a>
                            <a href="#"><span class="glyphicon glyphicon-share"></span> 11 Shares</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Article Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                        <div class="text-center">
                            <a href="#"><span class="glyphicon glyphicon-plus"></span> Full Story</a>
                            <a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a>
                            <a href="#"><span class="glyphicon glyphicon-share"></span> 211 Shares</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Article Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                        <div class="text-center">
                            <a href="#"><span class="glyphicon glyphicon-plus"></span> Full Story</a>
                            <a href="#"><span class="glyphicon glyphicon-comment"></span> 7 Comments</a>
                            <a href="#"><span class="glyphicon glyphicon-share"></span> 67 Shares</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
